<ion-view view-title="chat">
  <ion-content class="chat-ui">
  <h2>111111 </h2>
  <h2>111111 </h2>
  <div class="send">
	  <div class="arrow">xxxxxxxxxxxxxxxxxxxxxxxxx</div>
  </div>
  </ion-content>

 
  <div class="bar bar-myfooter">
	<div class="bar bar-header item-input-inset">

	  <button class="button button-light">pic</button>
	  <label class="item-input-wrapper">
				  <i class="icon ion-ios-heart-outline placeholder-icon"> i</i>
				  <input type="search" ng-model="data.message">
	  </label>
	  <button class="button button-positive pull-right">Send</button>
	</div>
	
  </div>

</ion-view>
