<ion-view view-title="im">
  <ion-content>
  </ion-content>
	<ion-tabs class="tabs-striped">
		<ion-tab title="local">
			<header class="bar bar-header ">
				<h1 class="page-header">Route</h1>
			</header>
			<ion-content has-header="true">

			</ion-content>
		</ion-tab>
		<ion-tab title="group">
			<header class="bar bar-header ">
				<h1 class="page-header">Route</h1>
			</header>
			<ion-content has-header="true">

			</ion-content>
		</ion-tab>
		<ion-tab title="service">
			<header class="bar bar-header ">
				<h1 class="page-header">Route</h1>
			</header>
			<ion-content has-header="true">

			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>
