<ion-view view-title="Playlists">
  <div class="bar bar-header bar-positive">
	    <h1 class="title">bar-positive</h1>
	</div>
  <ion-content>
  <!--
    <ion-list>
      <ion-item ng-repeat="playlist in special_offer_list" href="#/app/playlists/{{playlist._id}}">
        {{playlist.name}}
      </ion-item>
    </ion-list>
	-->

  <div class="list">
	  <a class="item item-thumbnail-left" href="#/app/playlists/{{item._id}}" ng-repeat="item in special_offer_list">
		  <!--
		  <img src="http://images4.c-ctrip.com/target/hotel/20000/19562/5e6f3da6768544a985dd76df348b14e6.jpg">
			-->

		  <img src="{{item.crawl.pricture[0]}}" wight="80px" height="70px">

		  <h2>{{item.name}}</h2>

		  <p>
		  {{item.start_city}}
		   &nbsp  
			{{item.start_time}}
		   &nbsp  
			{{item.offsale}}
		   &nbsp  
			{{item.quota}}
          </p>
		  <p>￥{{item.price}}</p>
			
	  </a>

	<button class="button button-full button-positive" ng-click="showmore()">
		{{button_name}}
	</button>
  </div>
  </ion-content>
</ion-view>
