<ion-view title="detail">
  <ion-content scroll="true" overflow-scroll="true" class="has-header iframe-issue">

	  <iframe id="mainContent" ng-src="{{special_offer_detail.jumpurl}}" onload="disablefull('mainContent')" style="width:100%;height:100%" security="restricted" sandbox=""></iframe>
		<!--
	  <iframe id="mainContent" onload="resizeFrame('mainContent')" ng-src="{{special_offer_detail.jumpurl}}" scrolling=yes frameBorder=0 scroll="true" min-height="100%"  width="100%" height="100%"  style="height:100%;"></iframe>

		-->
   </ion-content>
</ion-view>

