<ion-view view-title="Playlists">
  <div class="bar bar-header bar-positive">
	    <h1 class="title">bar-positive</h1>
	</div>
  <ion-content>
  <!--
    <ion-list>
      <ion-item ng-repeat="playlist in special_offer_list" href="#/app/playlists/{{playlist._id}}">
        {{playlist.name}}
      </ion-item>
    </ion-list>
	-->

  <div class="list">
	  <a class="item item-thumbnail-left" href="#/app/playlists/{{item._id}}" ng-repeat="item in special_offer_list">
		  <img src="http://images4.c-ctrip.com/target/hotel/20000/19562/5e6f3da6768544a985dd76df348b14e6.jpg">

		  <h2>{{item.name}}</h2>

		  <p>
		  {{item.start_city}}
		   &nbsp &nbsp 
			{{item.start_time}}
          </p>
		  <p>￥{{item.price}}</p>

	  </a>
  </div>
  </ion-content>
</ion-view>
