<ion-view view-title="My Item">
  <ion-content>
	<div class="list card">
	  <div class="item item-avatar">
	    <img src="/myapp/www/img/test.jpg">
		<label class="">
			<h2>厦门三日游</h2>
		</label>
		<p>{{data.mytime}}</p>
	  </div>
	  <div class="item item-body">
		  
		  <div class="list">
			  <p>    
				
			  飞奔的小驴    2012-04-20  写了  厦门旅游攻略
			  352喜欢277评论
			  【之前有很多网友在我的攻略里提问，因为论坛不会每天上所以回复没有那么及时，如果大家有更多的问题要问，可以到我的微博谢谢。http://weibo.com/ivana0505】

			  得知很多朋友都很喜欢我的2011版厦门旅游攻略，很开心也很惭愧，于是乎在这个春天对厦门整个再次透彻的游玩之后，也决定对我的攻略完成一次全新升级。最新最全的信息，最实用的路线。厦门真的值得一来再来哦~~
			  如果你还没有去过厦门，那么这篇文章你一定要收藏，因为那是一个无论如何你都会去一次的城市。如果你已经去过厦门，那么这篇文章也一定会对你有所帮助，因为那是一个去了一次就一定会再想去的城市。在这里我会告诉你厦门有什么好玩，厦门有什么迷人，厦门要怎样玩，厦门要几天才够呢？几天也许都不够，因为你一定会爱上这里，不过你只有几天时间，那就要充分利用哦。
			  首先先简单介绍一下厦门，风景优美的港口旅游城市。位于中国东南沿海，台湾海峡西岸，与金门诸岛一水之隔。厦门素有“海上花园”、“最温馨的城市”之美誉，是中国首批经济特区、中国东南沿海重要的中心城市、国际港口及海外游客首选的中国十大旅游城市之一。厦门气候宜人，年平均气温21摄氏度，现辖六个行政区，全市常住人口249万人。近年来荣获“中国优秀旅游城市”、“国际花园城市”、“国家卫生城市”、 “全国十佳人居城市”、“联合国人居奖”、“全国文明城市”等称号。
			  厦门的旅游资源丰富。目前，厦门拥有5A级景区1个，4A级景区8个。全国首批5A级景区鼓浪屿是厦门城市名片，素有“音乐之岛”、“万国建筑博览”的美誉，是来厦游客必去的地方。厦门的4A级景区分别为奇绝秀丽的园林植物园、“炮王”所在地胡里山炮台、自然与人文同馨的嘉庚公园、水上大观园之园林博览苑、大氧吧之天竺山、园林式的日月谷温泉、气势非凡的海沧大桥游览区、仿古式的同安影视城，无处不展现出厦门的美丽和温馨。
			  但是最重要的是厦门是亚热带气候，所以几乎一年四季到这里都很舒服，冬天气温几乎不会零下，而夏天温度也没有那么高，通常情况下从五月开始到11月几乎都可以下海。而每个季节又都有自己迷人之处，所以不管是什么时候有时间，都可以考虑。而且到了厦门你才会明白，在这里是怎样一种悠闲的生活状态。来到厦门你会不由自主的进入这样的状态，让整个身心彻底放松，好好的享受慢悠悠的生活，当然还有那吃不完的美食。所以呀厦门待多久都不嫌多。有一点是如果想找到厦门旅游的真谛，就一定不要随团出游，只要可以自己安排时间才能享受到这份自由，几天都无所谓，大不了，下次再来。当然在这里还是给大家推荐一个合适的自助游安排，能够让大家在有限的时间里，得到最愉快的享受。
			  厦门的基本情况和旅游景点已经和大家交代了，在正式开始安排行程前还是先给大家按照交通，住宿，美食三个大家最关注的方面来让大家心里有个底。

			  </p>    
		  </div>
	  <div class="item tabs tabs-secondary tabs-icon-left">
		  <div class="bar bar-header item-input-inset">
			  <label class="item-input-wrapper">
				  <i class="icon ion-ios-heart-outline placeholder-icon">说走就走团队</i>
			  </label>
			  <button class="button button-positive" ng-click="publish()">
				 加入 
			  </button>
		  </div>
	  </div>
	</div>
  </ion-content>
</ion-view>
