<div class="scrollable">  
	<div class="scrollable-content">

		<div class="list-group text-center">
			<div class="list-group-item list-group-item-home">
				<h1>Mobile Angular UI
					Demo <small>1.2</small>
				</h1>
			</div>
			<div class="list-group-item list-group-item-home media">
				<div>
					<i class="fa fa-gamepad feature-icon text-primary"></i>
				</div>
				<div class="media-body">
					<h3 class="media-heading">Play around a little</h3>
					Open the sidebar and start testing features
				</div>

				<div>
					<a class='btn' ng-click='GetGis(123)'>Login</a>
				</div>

				<div> {{position}} </div>
				<div> {{greeting}} </div>


			</div>

			<div class="scrollable-content" ui-scroll-bottom='bottomReached()'>
				<div class="list-group">
					<a ng-repeat="item in scrollItems" href="#" class="list-group-item">
						{{ item }} <i class="fa fa-chevron-right pull-right"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
